.container{
width: 100%;
padding-right: 15px;
padding-left: 15px;
margin-top: 20px;}

.Toolbar {
    height: 56px;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
    img {
        height: 80%;
    }
    nav {
        height: 100%;
    }



 
}

@media (max-width : 900px) {
    .DesktopOnly {
        display: none;
    }
}