
    .navigation{
    list-style-type: none;
    text-decoration: none !important;
    width: 100%;
    height: 56px;
    display: flex;    
    flex-direction: row;  
    justify-content: space-between;
    font-size: small;
    font-weight: 550;
    z-index: 90;

    li{
        a{
            text-decoration: none !important;
            color:black;
            padding-right: 20px;
            font-weight: 500px;
          
        }
    }
       
    }
    @media (max-width: 900px) {
        .navigation {
            flex-flow: column;
            padding: 0;
            padding-top: 20px;
            
            
                       
        
        li {
            a{
                margin-top: 10px;
               
            }
        }
    }
}




