.button {
    background-color: #fd5563;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding:  13px 20px;
    font-weight: bold;
    margin: 20px;
    // margin-top: -8px;
    font-size: 12px;
    border-radius: 5px;
}

.button:hover{
    background-color: #ec8d95;
}