
.home{
        padding-top: 5%;
        padding-bottom: 5%;
       
        h1{
             font-size: 3rem;
             font-weight: bolder;
        }
        Button{
                left: 0;
                padding: 15px 30px;
                font-weight: 600;
                margin-left: -3px;
        }
}



.div2{
        margin-top:10%;
        text-align: center;
        
//        h2 , p {    
//                  text-align: center !important;
//                  margin-bottom: 2%;
//        }
       
      
}
.div4{
        text-align: center;
        margin-bottom: 1.875rem;  
        margin-top: 10%;   
      
        img{
                background-color: #665cc7;
                 box-sizing: border-box;
                border-radius: 50px;
                
        }
        h3{
                font-weight: 700;
                font-size: 1.2rem;
        }
      
}

@media (max-width: 900px){
        .image{
                img{
                width: 90vw;
                }
        }
        .pic1{
                img{
                        width: 90vw;
                }
        }
        .home{
                text-align: center;
        }
        .div4{
                Col{
                        margin-bottom: 5%;
                }
        }
}