.cont1{
    text-align: center;
    padding: 6% 0;
    h1{
        font-weight: bolder;
        font-size: 3.15rem;
    }
    p{
        padding-top: 2%;
    }
}
.contact{
    background-color: #f7f7f7!important;
    margin: 15% 4%;
    
    
   
    Button{
        
        padding: 10% 13%;
    }
   
    
    h6, p{
        padding-top: 6%;
        padding-bottom: 5%;
    }
    
    
}


.contact:hover {
   transform: scale((1.2));
}