.trialimg{
    img{
    height: 60vh;
    }
}

.trialcont{
    padding-top: 10%;
    h1 {
        line-height: 3rem;
        font-weight: bolder;
    }
    p{
        padding-top: 2%;
    }
}
.trialcont2{
    padding-top: 10%;
    padding-bottom: 5%;
    text-align: center;
    h2{
        font-weight: bold;
    }
    p{
        padding-top: 2%;
    }
}
.trialcont3{
    text-align: center;
    padding: 5% 0;
     h2{
         font-weight: bold;
     }
     p{
        padding-top: 2%;
    }
    
    .upload {
        
        text-align: center;
        position: relative;
        padding: 6.25rem 3rem;
        border: dashed 1px #bbb;
        outline: none;
        
    }
    
}