
    
.form{
    padding-top: 11%;
    padding-left: -1100px;
    Label{

        font-weight: bold;
    }
    .heading{
        padding-bottom: 50px;
        padding-left: 45px;
        font-weight: bold;
    }
    Button{
        padding: 20px 110px;
        align-items: center;
        margin: 40px 140px;
        font-size: medium;
    }
    
}
.link{
    display: flex;
    flex-direction: row;
  
    
}

