.footer{
    background-color: black;
    padding: 3% 0;
    
    ul{
    list-style-type: none;
    color: white;
    li{
        a{
            color: white;
        }
    }
    
    }
    .icon{
        a{
            
            color: grey;
            padding-right: 20px;
            text-decoration: none;
        }
        :hover{
            color: white;
        }
    }
}