.cont{
    position: relative;
  text-align: center;
  color: white;
  h6{
    position: absolute;
    bottom: 18px;
    left: 16px;
  }
  img{
    height: 100vh;
    width: 400px;
    object-fit: cover;
}
}
.form{
    padding-top: 15%;
    
}


h3{
    font-weight: bold;
}
// .button{
//     margin-top: 10px;
// }
.account{
    display: flex;
    flex-direction: row;
     padding-top: 20px;
    
    float: right;
    
    
}


@media (max-width : 1000px){
    .cont{
        display: none;
    }
}
@media (max-width : 1200px){
    .cont{
        img{
            width: 300px;
        }
    }
}